/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: "Roboto", sans-serif;
   padding: 10px;
   background: #fff;
}

/* Header (div) formatting */
.header {
   padding: 10px;
   text-align: center;
   background-color: #fff;
   color: #000000;
}

.header h1 {
   font-size: 50px;
}


/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
   display: flex;
   overflow: hidden;
   background-color: #fff;
 }
 .topnav div {
   display: flex;
 }
 
 /* Style the topnav links */
 .buttons a {
   color: #fff;
   text-align: center;
   padding: 14px 40px;
   margin-right: 20px ;
   background-color: black;
   text-decoration: none;
   border-radius: 27px;
   text-transform: uppercase;
 }
 
 /* Change color on hover */
 .buttons a:hover {
   background-color: #ddd;
   color: black;
 }

 /* position the topnav logo */
 .logo {
   flex-grow: 5;
   padding: 14px 16px;
 }
 
 /* Style the content */
 .content {
   background-color: #fff;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   background-color: black;
   padding: 10px;
   display: flex;
   justify-content: space-around;
 }

 .footer ul a {
  color: #fff;
  text-decoration: none;
  padding: 100px;
  
 }

 .footer img {
  margin-top: 25;
  align-items: center;
 }