/* External CSS style file */
@font-face {
    font-family: IBMplex;
    src: url(../fonts/IBMPlexSans-Regular.ttf);
  }
  * {
     box-sizing: border-box;
  }
  
  body {
     font-family: "IBMplex", sans-serif;
     padding: 3rem;
     background-color: #f0f0f0;
  }
  
  /* Header (div) formatting */
  .header {
     padding: 10px;
     text-align: center;
     background-color: #f0f0f0;
     color: #000000;
  }
  
  .header h1 {
     font-size: 50px;
  }
  
  /* Make the logo have a rounded edge */
  img.top-image {
     vertical-align: middle;
  }
  
  /* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
  /* Style the top navigation bar */
  .topnav {
     display: flex;
     overflow: hidden;
     background-color: #f0f0f0;
     padding: 3rem;
   }
   .topnav div {
     display: flex;
   }
  
   .buttons {
    display: inline-block;
   }
   /* Style the topnav links */
   .buttons a {
     font-size: 15.897px;
     height: 3rem;
     width: auto;
     color: #fff;
     text-align: center;
     white-space: nowrap;
     margin-left: 40px ;
     padding: 14px 60px;
     background-color: black;
     text-decoration: none;
     border-radius: 27px;
     text-transform: uppercase;
   }
   
   /* Change color on hover */
   .buttons a:hover {
     background-color: #ddd;
     color: black;
   }
  
   /* position the topnav logo */
   .logo {
     flex-grow: 5;
     padding: 14px 16px;
   }

   /* Style filter box */
  .filter-box {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));;
  }
  .content h3 {
    margin-bottom: 25px;
  }
  /* Style the filter button */
  .pink-button {
    color: white;
    background-color: #da0063;
    font-size: 18px;
    padding: 14px 60px;
    border-radius: 15px;
    width: 100%;
    margin: 30px 10px 10px;
  }

  .pink-button:hover {
    background-color: #e32f7f;
    color: #ddd;
  }
  .not-bold {
    font-size: 16;
    font-weight: normal;
  }
  /* Style table */
  table {
    width: 100%;
  }
  table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 6px;
  }
  table th {
    font-size: 18;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  table td {
    text-align: center;
    width: 25%;
  }

   /* Style the footer */
 .footer {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
 
  .footer ul a {
   color: #fff;
   text-decoration: none;
   padding: 10px;
  }
 
  .footer ul a:hover{
   text-decoration: underline;
  }
  .footer ul li{
   margin-bottom: 10px;
   list-style-type: none;
  }
 
  .footer img {
   margin-top: 25px;
   align-items: center;
  }

  #show-graph {
    padding: 14px 40px;
    border-radius: 15px;
    color: white;
    background-color: #9a0045;
    font-size: 15.897px;
    text-transform: uppercase;
  }

  #show-graph:hover {
    color: #ddd;
    background-color: #cd2c74;
  }

  #myTable {
    border-collapse: collapse;
    width: 100%;
  }

  #myTable td, #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #myTable tr:nth-child(even){
    background-color: #eee8e8;
  }
  
  #myTable tr:hover {
    background-color: #ddd;
  }

  #myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4a0323;
    color: white;
  }

  .rank {
    text-decoration: underline;
    font-weight: bold;
  }

  #pagination {
    margin-top: 18px;
    display: flex;
    justify-content: right;
  }

  #prev, #next {
    padding: 14px 40px;
    border-radius: 15px;
    color: white;
    background-color: #9a0045;
    font-size: 15.897px;
    text-transform: uppercase;
  }

  #prev:hover, #next:hover {
    color: #ddd;
    background-color: #cd2c74;
  }

  #page-num {
    font-size: 15.897px;
    padding: 14px 30px;
  }
  #deepDive {
    display: flex;
    justify-content: center;
  }

  #deepDive a{
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 10px;
    background-color: #da0063;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 14px 400;
  }  

  #deepDive a:hover{
    background-color: #e32f7f;
    color: #ddd;
  }  